@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}
/* .container{
  
    min-height:50vh;
    background-image: linear-gradient(to right bottom,#8A4A4D,#4462AF);
    display:flex;
    justify-content:center;
    align-items:center;
} */

.containerr{
    height: 86.5vh;
    background-image: linear-gradient(to right bottom,#8A4A4D,#4462AF);
    display:flex;
    justify-content:center;
    align-items:center;
}
.cardd{
    height:400px;
    width:350px;
    background-color:white;
    font-family: 'Ubuntu', sans-serif;
    padding:10px;
    position:relative;
}
.top-row{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:20px 0;
    position:relative;
}
.top-row h3{
    padding-bottom:10px;

}
.top-row span{
    height:110px;
    width:220px;
    background-color:#C9BABA;

}
.top-row img{
    width:100px;
    height:100px;
    position:absolute;
    top:55px;
}
.medium-row{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    padding:20px;
}
.medium-row .dollor p{
    position:absolute;
    top:0px;
    left:110px;
    font-weight:900;
}
.medium-row .circle{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:7px;
    
}
.medium-row .circle span{
    height:25px;
    width:25px;
    border-radius:50%;
    background-color:black;
    margin:0px 13px;
    text-align:center;
}
.medium-row .circle span:nth-child(1){
    background-color:white;
    border:1px solid black;
}
.medium-row .circle span:nth-child(2){
    background-color:#2E2B2B;
}
.medium-row .circle span:nth-child(3){
    background-color:#0A1CD6;
}
.medium-row .circle span:nth-child(4){
    background-color:#5A505F;
}
.medium-row .circle span:nth-child(5){
    background-color:#000
}
.medium-row .letters{
    position:absolute;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    top:70px;
    left:5px;
}
.medium-row .letters p{
    margin:0px 16px;
    color:#39363A;
}
.medium-row .letters p:nth-child(3){
    display:flex;
    justify-content:center;
    align-items:center;
}

.medium-row .letters .L{
    height:30px;
    width:30px;
    background-color:#F7E5FD;
    border-radius:50%;
}
.buttons{
    position:absolute;
    bottom:20px;
    left:25px;
    height:40px;
    width:220px;
    background-color:black;
    color:white;
    cursor:pointer;
    transition:all 0.5s;
   
}
.buttons:hover{
    font-size:30px;
    color:yellow;
    background-color:grey;
}